a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: #000;
    color: #fff;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    height: 70px;
}

.header__ttl {
    font-weight: bold;
}

.header__nav-list {
    display: flex;
    font-weight: bold;
}